* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color: #FFEBE5;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kiroku-icon {
  width: 15vw;
  margin-right: 15vw;
  background-color: transparent;
}

.lists {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.lists li {
  font-size: 25px; 
}

.login {
  text-decoration: none;
  line-height: 20px;
  margin-right: 3vw;
  color: #2F3E51;
}

.sign-up {
  text-decoration: none;
  color: #2F3E51;
}

.name {
  text-decoration: none;
  margin-right: 3vw;
  color: #2F3E51;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #2F3E51;
}