<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("kiroku-logo.png", class:"kiroku-icon"), "/" %>
    <ul class='lists'>
      <li><%= link_to 'ログイン', "#", class: "login" %></li>
      <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    </ul>
  </div>
</header>