.comments {
  margin-top: 10px;
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment-user {
  margin-top: 15px;
  font-weight: bold;
  margin-right: 5px;
}

.comment-text1 {
  margin: 0;
  font-size: 20px;
  margin-top: 10px;
}
