.user-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-contents1 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-contents2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.user-lists>.list {
  width: 37vh;
  padding: 2vw;
  background-color: #FFEBE5;
}