.user-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-contents1 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-contents2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.user-lists>.list {
  width: 37vh;
  padding: 2vw;
  background-color: #FFEBE5;
}

.purchase-btn1 {
  width: 120px;
  background: #fc0202;
  text-align: center;
  border-radius: 4%;
  top: 60px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text1 {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon1 {
  width: 60%;
}