.user-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-contents {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-entry {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
